a {
    color: black;
}
.gray-text {
    font-family: 'Sen';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #8491A0;
    
}
.white-text {
    font-family: Sen;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.block-padding {
    padding-left: 72px;
    padding-right: 72px;
}
.green {
    color: #3CC74E;
}
.blue {
    color: #609BFF;
}
.pink {
    color: #E95D90;
}
.white {
    color: #fff;
}
.black {
    color: #000;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.main-holder {
    width: 1440px;
    background-color: black;
    position: relative;
    height: auto;
    height: auto;
    z-index: 0;
}

.first-block {
    max-width: 1440px;
    width: 100%;
    height: auto;
    min-height: 900px;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    
    
}
.header-img {
    padding: 32px 0;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-div{
    height: 100%;
    display: flex;
    padding: 0px 24px;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: transparent;
}
.nav-div:hover {
    cursor: pointer;
    background-color: #5221E6;
}

.nav-menu {
    font-family: 'Sen';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
    color: #fff;
}
.mob-menu {
    display: none;
    background-image: url('./../source/mobmenu.svg');
}
.first-block-content{
    padding: 80px 40px 84px 0px;
    display: flex;
}
.first-block-img {
    z-index: 0;
    position: absolute;
}
.first-block-purple-bg {
    width: 900px;
    height: 900px;
    background-color: #181823;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}
.first-block-text {
    right: 0;
    position: relative;
    width: 56%;
    margin: 141px 0 0px auto;
}
.top-text {
    color: white;
    font-family: 'Sen';
    font-size: 78px;
    font-weight: 700;
    line-height: 120%; 
}
.top-text-extra {
    color: white;
    font-family: 'Sen';
    font-size: 78px;
    font-weight: 700;
    opacity: 60%;
    line-height: 120%; 
}
.bottom-text {
    font-family: 'Sen';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    color: white;
    margin-top: 32px;
    display: block;
}


.second-block {
    padding-top: 80px;
}
.second-bottom-text {
    
    max-width: 690px;
}
.second-block-content {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 120px;
}
.second-block-coulumn {
    width: 33%;
    display: flex;
    flex-direction: column;
}
.top-nums {
    font-family: 'Sen';
    font-size: 117px;
    color: #8491A0;
    line-height: 1.2;
}
.second-block-coulumn .white-text {
    font-size: 24px;
    line-height: normal;
    max-width: 80%;
}
.second-block-coulumn .gray-text {
    margin-top: 22px;
    max-width: 90%;
}


.third-block{
    display: flex;
}
.third-block .block-padding {
    padding: 120px 72px;
}
.third-block .holder {
    width: 50%;
    min-height: 600px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}
.third-block .third-bottom-text {
    font-family: 'Sen';
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}
.third-block .third-bottom-text a {
    color: #000;
}
.third-block-content-holder .gray-text {
    font-size: 18px;
}
.third-block .third-bottom-text:hover {
    cursor: pointer;
}
.third-block-content-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between
}

.third-block-img {
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fourth-block {
    display: flex;
    position: relative;
    padding-top: 120px;
}
.fourth-block .first-content-holder {
    width: 33%;
    padding-right: 0px;
}
.fourth-block .first-content-holder .gray-text{
    font-size: 18px;
    max-width: 368px;
    margin-top: 24px;
}
.fourth-block .second-content-holder {
    display: flex;
    flex-direction: column;
    width: 66%;
}
.fourth-block .second-content-holder .big-content-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
}
.big-content-block .content-block {
    width: 48%;
    padding-right: 48px;
    padding-left: 40px;

}
.big-content-block .content-block .white-text{
    font-size: 24px;
}
.big-content-block .content-block .gray-text{
    font-size: 16px;
}

.fifth-block {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;;
}
.fifth-block-element {
    width: auto;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #181823;

}


.sixth-block {
    display: flex;
    width: 100%;
    padding-top: 120px;
}
.sixth-block-column {
    display: flex;
    flex-direction: column;
    width: 49%;
    
}
.sixth-block-column .upper-text-block .white-text {
    max-width: 572px;
    margin-bottom: 80px;
}
.sixth-block-content {
    width: 100%;
    max-height: 830px;
    margin-bottom: 24px;
}
.sixth-block-img {
    width: 100%;
    height: auto;
}
.sixth-block-content-text {
    background-color: #181823;
    padding: 32px 40px;
}
.sixth-block-content-text .white-text {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 18px;
}
.sixth-block-content-text .gray-text {
    max-width: 572px;
    font-size: 18px;
}
.sec-column {
    margin-left: 24px;
}
.sixth-block .button-holder {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.six-block-button {
    display: flex;
    padding: 24px 32px;
    border: 1px solid #5221E6;
    transition: background-color 0.3s;
    background-color: #000;
}
.six-block-button:hover {
    background-color: #5221E6;;
    cursor: pointer;
  }
.six-block-button .white-text {
    font-size: 18px;
    line-height: normal;

}

.seventh-block{
    margin-top: 130px;
    display: flex;
}
.seventh-block .block-padding {
    padding: 120px 72px;
}
.seventh-block .holder {
    width: 50%;
    min-height: 600px;
    background: #FBE4FF;
    display: flex;
    flex-direction: column;
}
.seventh-block .seventh-bottom-text {
    font-family: 'Sen';
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    text-decoration-color: #8491A0;
}
.seventh-block-content-holder .gray-text {
    font-size: 18px;
}
.seventh-block-content-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between
}
.seventh-block-img {
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.eighth-block .block-padding {
    padding: 120px 182px;
}
.eighth-block .block-padding .gray-text{
    max-width: 636px;
    margin-bottom: 40px;
    font-size: 18px;
}
.eighth-block .block-padding .white {
    font-size: 16px;
    text-decoration: underline;
    color: #fff;
    font-family: 'Sen';
}
.eighth-block .block-padding .image-block-holder {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.eighth-block .image-block-holder .top-image {
    background-color: #181823;
    position: relative;
    height: 36px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px 16px;
}
.eighth-block .image-block-holder .eighth-block-image {
    width: 100%;
    height: 100%;
}

.eighth-block .image-block-holder .top-image img {
    position: absolute;
}

.nineth-block {
    display: grid;
    grid-column-gap: 24px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
}
.nineth-block .text-block {
    grid-column: 1;
    max-width: 588px;
}
.nineth-block .text-block .gray-text {
    font-size: 18px;
    margin-bottom: 40px;
}
.nineth-block .white {
    text-decoration: underline;
}
.nineth-block .content-item {
    margin-bottom: 120px;
}
.nineth-block .content-block {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.nineth-block .content-text-block {
    padding: 64px;
    border: 1px solid #5B6876;
}
.nineth-block .content-block .white-text {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 64px;
}
.nineth-block .content-block .gray-text {
    font-size: 18px;
}
.nineth-block .content-block .big {
    font-weight: 700;
}


.tenth-block {
    padding-top: 120px;
    padding-bottom: 120px;
}
.tenth-block .text-block {
    max-width: 588px;
}
.tenth-block .text-block .gray-text {
    font-size: 18px;
}
.tenth-block-countries {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 490px;
    margin-top: 64px;
    margin-bottom: 40px;
}
.tenth-block-button {
    padding: 12px 0px;
    border: 1px solid #5221E6;
    transition: background-color 0.3s;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tenth-block-button .white-text {
    font-size: 18px;
    line-height: normal;
}
.tenth-block-button:hover {
    background-color: #5221E6;
    cursor: pointer;
}
.tenth-block-pictures {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tenth-block-pictures img {
    width: 100%;
    height: auto;
}


.eleventh-block .block-padding {
    padding: 120px 182px;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr;
}
.eleventh-block .block-padding .text-holder .gray-text {
    font-size: 18px;
}
.eleventh-block .block-padding .content-holder .input-holder {
    margin-bottom: 40px;
}
.eleventh-block .block-padding .content-holder .input-holder .input {
    background-color: #181823;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Sen';
    color: #fff;
    margin-top: 8px;
}
.eleventh-block .block-padding .content-holder .input-holder .big {
    height: 100px;
    
}
.eleventh-block-button {
    padding: 24px 32px 24px 32px;
    width: 100%;
    border: 1px solid #5221E6;
    transition: background-color 0.3s;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eleventh-block-button:hover {
    background-color: #5221E6;
    cursor: pointer;
}
.eleventh-block-button .white-text{
    line-height: normal;
    font-size: 18px;
}

footer {
    background-color: #181823;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 60% 40%;
}
footer .pictures-holder {
    grid-row: 1;
}
footer .pictures-holder .icons-holder {
    display: grid;
    max-width: 104px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 32px;
}
footer .contacts-holder {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .contacts-holder a {
    line-height: 0.7;
    text-decoration: none;
}
footer .contacts-holder .first {
    grid-row: 1;
}
footer .contacts-holder .second {
    grid-row: 2;
}
footer .contacts-holder .third {
    grid-row: 3;
}
footer .contacts-holder .fourth {
    grid-row: 4;
}
footer .contacts-holder .fifth {
    grid-column: 2;
    grid-row: 1;
}
footer .contacts-holder .sixth {
    grid-column: 2;
    grid-row: 2;
}
footer .contacts-holder .seventh {
    grid-column: 2;
    grid-row: 3;
}
footer .gray-text{
    margin-top: 46px;
    grid-row: 3;
}